<% c++ #ifndef LAYOUT_MASTER %>
<% c++ #define LAYOUT_MASTER %>
<% c++ #include "cppcms_skel/contents/content.h" %>
<% skin %>
<% view master uses contents::BaseContent %>
<% template render() %>
<!DOCTYPE
    html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include header() %>
</head>
<body>
    <% include body() %>
</body>
</html>
<% end template %>

<% template title() %>TODO: replace this<% end template %>


<% template header() %>
<title><% include title() %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <% include css() %>
<% end template %>

<% template css() %>

<% end template %>




<% template body() %>
    <% gt "Hello world" %>
<% end template %>



<% end view %>
<% end skin %>
<% c++ #endif %>
