<% c++ #include "contents/Pages.h" %>
<% skin %>
<% view homepage uses contents::pages::Homepage extends master %>
<% template title() %><% gt "Tatoeba language detector homepage"  %><% end template %>


<% template main_content() %> 
    <div class="module">
        <h2>Disclaimer</h2>
        Please repport any bugs/suggestions to "team @t tatoeba dOt org" 
    </div>
<% end template %>



<% end view %>
<% end skin %>
